<script>
	import TrainingOptions from '$lib/TrainingOptions.svelte';
	import Graph from '$lib/Graph.svelte';
	import { Button, ButtonGroup } from 'flowbite-svelte';

	let generate_training;
	let update_graph;

	async function generate() {
		await generate_training();
		await update_graph();
	}
</script>

<TrainingOptions bind:generate={generate_training} />
<Graph bind:fetch_target={update_graph} />
<div class="flex justify-end">
	<ButtonGroup class="">
		<Button on:click={generate}>Generate</Button>
	</ButtonGroup>
</div>
